{% extends "layout.html" %}

{% block title %}
Admin dashboard
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/admin_dash.css">
{% endblock %}

{% block content %}
<h2>Welcome {{username}}</h2>
<div class="container2">
    <div class="chapter1">
        <!--<span class="border border-black">-->
        <div class="headings">
            <h3>Physics</h3>
        </div>
        <table class="table" border="4px">
            <thead>
                <tr class="text-center">
                    <th scope="col">S.N.</th>
                    <th scope="col">Chapter name</th>
                    <th scope="col">No. of Questions</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr class="text-center">
                    <th scope="col">1</th>
                    <td>Motion</td>
                    <td>30</td>
                    <td class="d-flex justify-content-center"><a href="" type="button" class="btn btn-danger mx-1"
                            name="delete">Delete</a> <a href="" type="button" class="btn btn-primary"
                            name="edit">Edit</a>
                    </td>
                </tr>
                <tr class="text-center">
                    <th scope="col">2</th>
                    <td>Force</td>
                    <td>30</td>
                    <td class="d-flex justify-content-center"><a href="" type="button" class="btn btn-danger mx-1"
                            name="delete">Delete</a> <a href="" type="button" class="btn btn-primary"
                            name="edit">Edit</a>
                    </td>
                </tr>
                <tr class="text-center">
                    <th scope="col">3</th>
                    <td>Relative motion</td>
                    <td>20</td>
                    <td class="d-flex justify-content-center"><a href="" type="button" class="btn btn-danger mx-1"
                            name="delete">Delete</a> <a href="" type="button" class="btn btn-primary"
                            name="edit">Edit</a>
                    </td>
                </tr>
                <tr class="text-center">
                    <th scope="col">3</th>
                    <td>Gravitation</td>
                    <td>30</td>
                    <td class="d-flex justify-content-center"><a href="" type="button" class="btn btn-danger mx-1"
                            name="delete">Delete</a> <a href="" type="button" class="btn btn-primary"
                            name="edit">Edit</a>
                    </td>
                </tr>
                <tr class="text-center">
                    <th scope="col">3</th>
                    <td>Gravitation</td>
                    <td>30</td>
                    <td class="d-flex justify-content-center"><a href="" type="button" class="btn btn-danger mx-1"
                            name="delete">Delete</a> <a href="" type="button" class="btn btn-primary"
                            name="edit">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a href="{{ url_for('add_chapter') }}" class="btn btn-success mx-2 my-2" type="button" id="add-chapter">+Add
                Chapter</a>
        </div>
        <!--</span>-->
    </div>


    <div class="big_table">
        <div class="chapter1">
            <!--<span class="border border-black">-->
            <div class="headings">
                <h3>Physics</h3>
            </div>
            <table class="table" border="4px">
                <thead>
                    <tr class="text-center">
                        <th scope="col">S.N.</th>
                        <th scope="col">Chapter name</th>
                        <th scope="col">No. of Questions</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="text-center">
                        <th scope="col">1</th>
                        <td>Motion</td>
                        <td>30</td>
                        <td class="d-flex justify-content-center"><a href="" type="button" class="btn btn-danger mx-1"
                                name="delete">Delete</a> <a href="" type="button" class="btn btn-primary"
                                name="edit">Edit</a>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <th scope="col">2</th>
                        <td>Force</td>
                        <td>30</td>
                        <td class="d-flex justify-content-center"><a href="" type="button" class="btn btn-danger mx-1"
                                name="delete">Delete</a> <a href="" type="button" class="btn btn-primary"
                                name="edit">Edit</a>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <th scope="col">3</th>
                        <td>Relative motion</td>
                        <td>20</td>
                        <td class="d-flex justify-content-center">
                            <a href="" type="button" class="btn btn-danger mx-1" name="delete">Delete</a>
                            <a href="" type="button" class="btn btn-primary" name="edit">Edit</a>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <th scope="col">3</th>
                        <td>Gravitation</td>
                        <td>30</td>
                        <td class="d-flex justify-content-center"><a href="" type="button" class="btn btn-danger mx-1"
                                name="delete">Delete</a> <a href="" type="button" class="btn btn-primary"
                                name="edit">Edit</a>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <th scope="col">3</th>
                        <td>Gravitation</td>
                        <td>30</td>
                        <td class="d-flex justify-content-center"><a href="" type="button" class="btn btn-danger mx-1"
                                name="delete">Delete</a> <a href="" type="button" class="btn btn-primary"
                                name="edit">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a href="{{ url_for('add_chapter') }}" class="btn btn-success mx-2 my-2" type="button"
                    id="add-chapter">+Add Chapter</a>
            </div>
            <!--</span>-->
        </div>
    </div>
</div>
<div id="add-subject">
    <a href="{{ url_for('add_subject') }}" type="button" class="btn btn-success my-5">+Add Subject</a>
</div>

{% endblock %}