{% extends "layout.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin_dash.css') }}">
{% endblock %}

{% block content %}
<h2>Welcome {{ username }}</h2>
<div class="container2">
    <div class="chapter1">
        {% if subjects %}
        {% for subject in subjects %}
        <table class="table table-bordered text-center">
            <h3 class="headings my-3">{{ subject.name }}</h3>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Ch.N.</th>
                    <th scope="col">Chapter Name</th>
                    <th scope="col">No. of Questions</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% set chapter_found = false %}
                {% for chapter in chapters %}
                {% if subject.id == chapter.subject_id %}
                {% set chapter_found = true %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ chapter.name }}</td>
                    <td>{{ chapter_question_map.get(chapter.id, 0) }}</td>
                    <td>
                        <a href="{{ url_for('delete_chapter', chapter_id=chapter.id) }}"
                            class="btn btn-danger">Delete</a>
                        <a href="{{ url_for('edit_chapter', chapter_id=chapter.id) }}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
                {% if chapter_found == false %}
                {% if chapter|length == 0 %}
                <tr>
                    <td colspan="4" class="text-muted">Chapter not available in {{ subject.name }}.</td>
                </tr>
                {% endif %}
                {% endif %}

                {% endif %}
                {% endfor %}

                <tr>
                    <td colspan="4">
                        <div>
                            <a href="{{ url_for('add_chapter', username=username) }}" class="btn btn-success mx-2 my-2">+ Add
                                Chapter</a>
                        </div>
                        <a href="{{ url_for('delete_subject', subject_id=subject.id, username=username) }}"
                            class="btn btn-danger mx-2">Delete Subject</a>
                        <a href="{{ url_for('edit_subject', subject_id=subject.id, username=username) }}"
                            class="btn btn-primary">Edit
                            Subject</a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
        {% else %}
        <h4 class="text-muted text-center">Subject not available.</h4>
        {% endif %}
    </div>
</div>

<div id="add-subject" class="text-center">
    <a href="{{ url_for('add_subject', username=username) }}" class="btn btn-success my-4">+ Add Subject</a>
</div>

{% endblock %}
