body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
    background-color: #50cb71;
    border-radius: 1rem;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.container2 {
    margin-top: 20px;
}

.big_table {
    width: 80%;
    margin: auto;
}

.headings {
    background-color: #007bff;
    border-radius: 1rem;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.table {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.table-dark {
    background-color: #343a40;
    color: white;
}

.text-muted {
    font-style: italic;
}

.btn {
    border-radius: 5px;
}

#add-quiz {
    text-align: center;
    margin-top: 20px;
}
