* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(197, 211, 206);
}
.display-1{
    margin-top: 0px;
    font-size: 50px;
    color: #146ed5;
}
/* Center the form */
.container {
    width: 325px;
    height: 550px;
    margin: auto; 
    border-radius: 10px;
    margin-top: 5vh;
    justify-items: center;
    text-align: justify;
    background-color: whitesmoke;
    
}

/* Style form elements */
.form-group {
    margin-bottom: 20px;
    text-align: left;
    width: 300px;
    margin-top: 0px;
    justify-items: top, center, justify;
    
}

/* Input fields */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: justify;
}

/* Button styling */
.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    justify-content: left;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.form {
    justify-content: center;
    /*margin-top: 0px;*/
}