<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!--<a class="navbar-brand" href="#">User Dashboard</a>-->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('quiz_summary', username=username, quiz_id=quiz_id)}}">Summary</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <span class="welcome-text">Welcome {{username}}</span>
        </div>
    </div>
</nav>