{% extends "/user/layout2.html" %}

{% block title %}
Quiz Scores
{% endblock %}

{% block style %}
<link href="/static/quiz_score.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h2>Welcome {{ username }}</h2>
<div class="container mt-4">
    <h3 class="text-center">Quiz Scores</h3>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Quiz ID</th>
                    <th>Quiz Title</th>
                    <th>No. of Questions</th>
                    <th>Date Attempted</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% if scores %}
                {% for score in scores %}
                {% if score.quiz %}
                <tr>
                    <td>{{ score.quiz.id }}</td>
                    <td>{{ score.quiz.title }}</td>
                    <td>{{ score.quiz.questions|length }}</td>
                    <td>{{ score.time_stamp_of_attempt.strftime('%d/%m/%Y') }}</td>
                    <td>{{ score.total_scored }}/{{ score.quiz.questions|length * 5 }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="5">
                        <a href="{{ url_for('user_dash', username=username) }}" class="btn btn-success">Close</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">No quiz attempted till now.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}