{% extends "/user/layout2.html" %}

{% block title %}
User Dashboard
{% endblock %}

{% block content %}
<h2>Welcome {{ username }}</h2>
<div class="container mt-4">
    <h3 class="text-center my-2">Upcoming Quizzes</h3>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Quiz ID</th>
                    <th>Quiz Title</th>
                    <th>No. of Questions</th>
                    <th>Date</th>
                    <th>Duration (HH:MM)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if quizzes %}
                    {% for quiz in quizzes %}
                    <tr>
                        <td>{{ quiz.id }}</td>
                        <td>{{ quiz.title }}</td>
                        <td>{{ quiz.questions|length }}</td>
                        <td>{{ quiz.date_of_quiz.strftime('%d/%m/%Y') }}</td>
                        <td>{{ quiz.time_duration }}</td>
                        <td>
                            <a href="{{ url_for('view_quiz', quiz_id=quiz.id) }}" class="btn btn-info btn-sm">View</a>
                            <a href="{{ url_for('quiz_time_check', quiz_id=quiz.id) }}" class="btn btn-success btn-sm">Attempt</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">No upcoming quizzes available.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


